@import "~normalize.css"

body {
  background-color #222
}

.app-container {
  img {
    max-height: 400px
    margin: auto
    display: block
  }

  h3 {
    font-size 40px
    color: white
    font-family Arial, Tahoma, sans-serif
    text-align center
  }
}